
# Created by https://www.gitignore.io/api/django,python,windows
# Edit at https://www.gitignore.io/?templates=django,python,windows
# with '/' you ignore file

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/media
/staticfiles
settings.py
