{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<br>
<div class="container">
  <!--  <div class="row">
  <div class="col-md-3">
  <div class="list-group ">
  <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
  <a href="#" class="list-group-item list-group-item-action">User Management</a>
  <a href="#" class="list-group-item list-group-item-action">Used</a>
  <a href="#" class="list-group-item list-group-item-action">Enquiry</a>
  <a href="#" class="list-group-item list-group-item-action">Dealer</a>
  <a href="#" class="list-group-item list-group-item-action">Media</a>
  <a href="#" class="list-group-item list-group-item-action">Post</a>
</div>
</div> --><!--left col-->
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-md-12">
          <h4>Your Profile</h4>
          <hr>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row text-center">
          <div class="col-md-12">

            <div class="form-group row">
              <label for="name" class="col-2 col-form-label">First Name</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.name|as_crispy_field }}
              </div>
              <label for="name" class="col-2 col-form-label">Last Name</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.lastname|as_crispy_field }}
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-2 col-form-label">Date of birth</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.dob|as_crispy_field }}
              </div>
              <label for="name" class="col-2 col-form-label">Phone</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.phone|as_crispy_field }}
              </div>
            </div>

            <div class="form-group row">
              <label for="website" class="col-2 col-form-label">Skill</label>
              <div class="col-md-4 mb-0">
                {{ form.skill|as_crispy_field }}
              </div>
              <label for="publicinfo" class="col-2 col-form-label">Hourly rate</label>
              <div class="col-md-4 mb-0">
                {{ form.hourly_rate|as_crispy_field }}
              </div>
            </div>
            <div class="form-group row">
              <label for="publicinfo" class="col-2 col-form-label">Job details</label>
              <div class="col-10">
                {{ form.details|as_crispy_field }}
              </div>
            </div>
            <div class="form-group row">
              <label for="publicinfo" class="col-2 col-form-label">Status</label>
              <div class="col-md-2 mb-0">
                {{ form.status|as_crispy_field }}
              </div>
              <div class="col-md-4 mb-0">
                <button class="btn btn-info" type="submit">Create Profile</button>
              </div>
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>

</div>
</div>

<br>
<br>



<!--
<div class="form-group row">
<label for="lastname" class="col-4 col-form-label">Last Name</label>
<div class="col-8">
<input id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text">
</div>
</div>



<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-row">
<div class="form-group col-md-6 mb-0">
{{ form.name|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
{{ form.dob|as_crispy_field }}
</div>
</div>
{{ form.image }}
{{ form.details|as_crispy_field }}
<div class="form-row">
<div class="form-group col-md-6 mb-0">
{{ form.skill|as_crispy_field }}
{{ form.status|as_crispy_field }}
</div>
</div>
<button class="btn btn-outline-info" type="submit">Create</button>
</form>
-->
{% endblock %}
