{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.name|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.dob|as_crispy_field }}
    </div>
  </div>
  {{ form.image }}
  {{ form.details|as_crispy_field }}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.skill|as_crispy_field }}
      {{ form.status|as_crispy_field }}
   </div>
  </div>
  <button class="btn btn-outline-info" type="submit">Create</button>
</form>

{% endblock %}
