{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
   {% for message in messages %}
   <div class="info-msg">
     <p>
       <i>&#10004;</i> {{ message }}
    </p>
   </div>
  {% endfor %}
{% endif %}
<!-- NEW HTML -->
<div class="wrapper">
     <div class="bg-form">
         <form class="worker-form" name="obrazac" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="input-box">
             <p>
               <label for="Name">Name:</label>
               {{ form.name }}
             </p>
             <p>
               <label for="Last name">Last name: </label>
               {{ form.lastname }}
             </p>
             <p>
               <label for="text">Location: <small>(Not required)</small></label>
               {{ form.location }}
             </p>
              <p>About you: <small>(Not required)</small></p>
             <p>
               {{ form.details }}
             </p>
           </div>
           <div class="input-box">
             <p>
               <label for="ime">Date of birth:</label>
               {{ form.dob }}
             </p>
             <p>
                <label for="Phone">Phone: <small> (Not required) </small></label>
                 {{ form.phone|as_crispy_field }}
             </p>
             <p>
               <label for="text">Your Skill: </label>
               {{ form.skill|as_crispy_field }}
             </p>
               <p>Hour rate:<small>(Not required)</small> </p>
             <p>
               {{ form.hourly_rate|as_crispy_field }}
             </p>
             <p>
               <label for="terms">Publish or draft to update:</label>
               {{ form.status}}
             </p>
           </div>
         <div class="btn-box">
           <button class="btn-contact" type="reset">RESET</button>
           <button class="btn-contact" type="submit">UPDATE</button>
         </div>
       </form>
 </div>
</div>

{% endblock %}
