{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
   {% for message in messages %}
   <div class="info-msg">
     <p>
       <i>&#10004;</i> {{ message }}
    </p>
   </div>
  {% endfor %}
{% endif %}
<!-- NEW HTML -->
<div class="wrapper">
     <div class="bg-form">
         <form class="worker-form" name="obrazac" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="input-box">
             <p>
               <label for="Name">Name:</label>
               {{ form.name }}
             </p>
             <p>
               <label for="Last name">Last name: </label>
               {{ form.lastname }}
             </p>
             <p>
               <label for="text">Location: <small>(Not required)</small></label>
               {{ form.location }}
             </p>
              <p>About you: <small>(Not required)</small></p>
             <p>
               {{ form.details }}
             </p>
           </div>
           <div class="input-box">
             <p>
               <label for="ime">Date of birth:</label>
               {{ form.dob }}
             </p>
             <p>
                <label for="Phone">Phone: <small> (Not required) </small></label>
                 {{ form.phone|as_crispy_field }}
             </p>
             <p>
               <label for="text">Your Skill: </label>
               {{ form.skill|as_crispy_field }}
             </p>
               <p>Hour rate:<small>(Not required)</small> </p>
             <p>
               {{ form.hourly_rate|as_crispy_field }}
             </p>
             <p>
               <label for="terms">Publish or draft to update:</label>
               {{ form.status}}
             </p>
           </div>
         <div class="btn-box">
           <button class="btn-contact" type="reset">RESET</button>
           <button class="btn-contact" type="submit">UPDATE</button>
         </div>
       </form>
 </div>
</div>

{% endblock %}
<!-- END NEW -->





<!-- OLD html

<br>
<div class="container">
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-md-12">
          <h4>Edit Profile</h4>
          <hr>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row text-center">
          <div class="col-md-12">

            <div class="form-group row">
              <label for="name" class="col-2 col-form-label">First Name</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.name|as_crispy_field }}
              </div>
              <label for="name" class="col-2 col-form-label">Last Name</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.lastname|as_crispy_field }}
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-2 col-form-label">Date of birth</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.dob|as_crispy_field }}
              </div>
              <label for="name" class="col-2 col-form-label">Phone</label>
              <div class="form-group col-md-4 mb-0">
                {{ form.phone|as_crispy_field }}
              </div>
            </div>

            <div class="form-group row">
              <label for="website" class="col-2 col-form-label">Skill</label>
              <div class="col-md-4 mb-0">
                {{ form.skill|as_crispy_field }}
              </div>
              <label for="publicinfo" class="col-2 col-form-label">Hourly rate</label>
              <div class="col-md-4 mb-0">
                {{ form.hourly_rate|as_crispy_field }}
              </div>
            </div>
            <div class="form-group row">
              <label for="publicinfo" class="col-2 col-form-label">Job details</label>
              <div class="col-10">
                {{ form.details|as_crispy_field }}
              </div>
            </div>
            <div class="form-group row">
              <label for="publicinfo" class="col-2 col-form-label">Status</label>
              <div class="col-md-2 mb-0">
                {{ form.status|as_crispy_field }}
              </div>
              <div class="col-md-4 mb-0">
                <button class="btn btn-info" type="submit">Update Profile</button>
              </div>
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>

</div>
</div>

<br>
<br>


 END OLD -->
