{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="find-worker" class="search-box">
  <form class="" action="{% url 'search' %}">
    {% csrf_token %}
    <input id="search-input" type="search" placeholder="Search by keywords..." name='q'>
    <button type="submit" name="button">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
<div id="content">
  <main>
    <!-- wrapper place -->
    <h3 class="card-text"> Results for:  " {{ query }} "</h3>
    <div class="wrapper">

      {% for worker in workers %}
      <div class="profile-card" onclick="window.location='{{ worker.get_absolute_url }}';">

        {% if worker.cover %}
        <div class="card-cover-img">
          <img src="{{ worker.cover.url }}" alt="card cover image">
        </div>
        {% else %}
        <div class="card-cover-img">
          <img src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&w=1700" alt="card cover image">
        </div>
        {% endif %}
        <div class="card-text">
          {% if worker.image %}
          <img class="profile-img" src="{{ worker.image.url }}" alt="profile-image" >
          {% else %}
          <img class="profile-img" src="/media/images/default-avatar.png" alt="profile-image">
          {% endif %}
          <h3> {{ worker.name }} {{ worker.lastname }}</h3>
          <ul class="skills">
            <li>{{ worker.skill}}</li>
          </ul>
          {% if worker.location %}
          <h5><i class="fa fa-map-marker"></i> {{worker.location}} </h5>
          {% else %}
          <h5><i class="fa fa-map-marker"></i> Address not provided </h5>
          {% endif %}
          <p>
            {{ worker.summary }}...
          </p>
        </div>
      </div>
      {% empty %}
      <h3 class="card-text">No workers found by "{{ request.GET.q }}"</h3>
      {% endfor %}
    </div>
  </main>
</div>

{% endblock %}
