{% extends 'base.html' %}

{% block content %}

<div class="col-md-6" onclick="window.location='{% url 'messages' worker.user.id %}';" style="cursor: pointer;">
  <br>
  <div class="img-thumbnail">
    {% if worker.image %}
    <img src="{{ worker.image.url }}" height=100 width=100 class="d-inline-block alighn-top" />
    {% else %}
    <img src="/media/images/default-avatar.png" alt="" class="navbar-img">
    {% endif %}

    <br>
    <a href="{{ worker.get_absolute_url }}">{{ worker.name }} </a><small style="float: right"> {{ worker.created }}</small>
    <h2> {{ worker.skill }} </h2>
    <br>
    <h5> {{ worker.dob }} </h5>
    <p > {{ worker.total_medals}} medals </p>

  </div>
  <br>
</div>

{% endblock %}
