{% extends 'test-base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="wrapper">
  <!-- edit user -->
  <form class="user-box" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="user-img-holder">
        {% if request.user.profile.image %}
          <img src="{{ request.user.profile.image.url }}" alt="Preview Image"/>
        {% else %}
          <img src="/media/images/default-avatar.png" alt="Preview Image"/>
        {% endif %}

        <div class="browse-button">
            <i class="fa fa-pencil"> Update image:</i>
             {{ profile_form.image}}
       </div>

      </div>
      <!-- media query na input da bude 100% za mobile i small desktop -->
      <div class="input-box">
          <p>
            <label for="Username">User Name:</label>
            {{ user_form.username|as_crispy_field }}
          </p>
          <p>
            <label for="Email">E-mail (required):</label>
            {{ user_form.email|as_crispy_field }}
          </p>
      </div>

      <div class="btn-box">
        <button class="btn-contact" type="reset">RESET</button>
        <button class="btn-contact" type="submit">SAVE</button>
     </div>

  </form>

</div>

{% endblock %}
