<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>TempWork</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
 </head>
  <body>
  <div id="container">
    <header>
      <a href="{% url 'home' %}">
        <h2 id="logo">TempWork </h2>
      </a>
      <nav>
        <ul class="nav-links">
          <!-- IF USER IS LOGGED -->
          {% if request.user.is_authenticated %}
          <!-- show user name and profile picture -->
          <li>
            <div class="user-holder">
              <p>{{ request.user }} </p>
              {% if request.user.profile.image %}
              <img class="user-img" src="{{ request.user.profile.image.url }}" alt="profile-img">
              {% else %}
              <img class="user-img" src="/media/images/default-avatar.png" alt="avatar-img">
              {% endif %}
              <div class="dropdown-content">
                {% if request.user.worker %}
                <a href="{% url 'worker_profile' %}">Work Profile</a>
                {% else %}
                <a href="{% url 'create_worker' %}">Work !</a>
                {% endif %}
                <!-- edit user or log out -->
                <a href="{% url 'edit_profile' %}">Edit User</a>
                <a href="{% url 'logout' %}">Log out</a>
              </div>
              <!-- END -->
            </div>
          </li>
          <!-- Check for new messages  -->
          <li>
            <div class="notification" onclick="window.location='{% url 'conversation_list' %}';">
              <img src="{% static 'images/envelope1.png' %}">
              {% if inbox > 0 %}
                <span class="badge">{{inbox}}</span>
              {% endif %}
            </div>
          </li>
          {% else %}
          <!-- LOG IN OR REGISTER-->
          <li>
            <a href="{% url 'login' %}">Log in</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Sign up</a>
          </li>
          {% endif %}

          <!--
          <li><a href="my-profile.html"><i class="fa fa-user-circle"> My Profile</i></a></li>
          <li><a href="create-worker.html"><i class="fa fa-plus-square"></i> Work</a></li>
          <li><a href="conversations.html"><i class="fa fa-envelope"></i></a></li>
          <li><a href="edit-user.html"><i class="fa fa-user-circle"></i></a></li>
          -->
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
      <div class="left-foot">
        <a href="{% url 'home' %}">
          <h3 id="logo">TempWork </h3>
        </a>
      </div>
      <div class="middle-foot">
        <blockquote>
          <q>Amateurs sit and wait for inspiration, the rest of us just get up and go to work </q>
          <cite>Stephen King</cite>
        </blockquote>
        <p>
          &copy; Copyright {% now "Y" %}  All rights reserved
        </p>
      </div>
      <div class="right-foot">
        <p>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:inf@twork.hr">info@tempwork.com</a>
        </p>
        <p>
          <i class="fa fa-phone"></i> Tel:  <a href="tel:+0955770340">+311 20 345 658</a>
        </p>
      </div>
    </footer>
  </div>
  <script src="{% static 'animations.js' %}" charset="utf-8"></script>
 </body>
</html>
