{% load static %}

<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #FFD91A;">
  <a class="navbar-brand" href="{% url 'home' %}">Temp Work</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0" action="{% url 'home' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Find workers" aria-label="Search" name='q'>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>

    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>{{ request.user }}</span>
          {% if request.user.profile.image %}
          <img src="{{ request.user.profile.image.url }}" alt="" class="navbar-img">
          {% else %}
          <img src="/media/images/default-avatar.png" alt="" class="navbar-img">
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.user.worker_set.count > 0 %}
          <a class="dropdown-item" href="{% url 'worker_profile' %}">My Profile</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'create_worker' %}">Create your ad !</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit User</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}"  >Log in</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'register' %}" class="nav-link">Sign up</a>
      </li>
      {% endif %}
    </ul>
    <a href="{% url 'conversation_list' %}" class="notification">
      <img src="{% static 'messaging/envelope.png' %}"  height=30 width=30 >
      {% if inbox > 0 %}
        <span class="badge">{{inbox}}</span>
      {% endif %}
    </a>


  </div>

</nav>
