<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- New style for testing -->
  <link rel="stylesheet" href="{% static 'test-style.css' %}">
 </head>
  <body>
  <div id="container">
    <header>
      <a href="{% url 'home' %}"><h2 id="logo">TempWork</h2></a>
      <nav>
        <ul class="nav-links">
          <!-- IF USER IS LOGGED -->
          {% if request.user.is_authenticated %}

          <!-- show user name and profile picture -->
          <li>
            <div class="user-holder">
              {% if request.user.profile.image %}
              <img class="user-img" src="{{ request.user.profile.image.url }}" alt="profile-img">
              {% else %}
              <img class="user-img" src="/media/images/default-avatar.png" alt="avatar-img">
              {% endif %}
              <p>{{ request.user }} </p>

              <!-- TODO: DROPDOWN ITEMS -->
              <div class="dropdown-content">
                {% if request.user.worker_set.count > 0 %}
                <a href="{% url 'worker_profile' %}">Work Profile</a>
                {% else %}
                <a href="{% url 'create_worker' %}">Create your ad !</a>
                {% endif %}
                <!-- edit user or log out -->
                <a href="{% url 'edit_profile' %}">Edit User</a>
                <a href="{% url 'logout' %}">Log out</a>
              </div>
              <!-- END -->
            </div>
          </li>

          {% else %}
          <!-- LOG IN OR REGISTER-->
    <!--      <li> <div class="user-holder"></div> <div class="dropdown-content"></div> </li>  for test use only -->

          <li>
            <a href="{% url 'login' %}">Log in</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Sign up</a>
          </li>
          {% endif %}

          <!-- Check for new messages  -->
          <li>
            <div class="notification" onclick="window.location='{% url 'conversation_list' %}';">
              <img src="{% static 'images/envelope1.png' %}">
              {% if inbox > 0 %}
                <span class="badge">{{inbox}}</span>
              {% endif %}
            </div>
            <!--
            <a href="{% url 'conversation_list' %}" class="notification">
              <img src="{% static 'messaging/envelope.png' %}"  height=20 width=20 style="background-color:orange;">
              {% if inbox > 0 %}
                <span class="badge">{{inbox}}</span>
              {% endif %}
            </a>
          </li>
           -->
          <!--
          <li><a href="my-profile.html"><i class="fa fa-user-circle"> My Profile</i></a></li>
          <li><a href="create-worker.html"><i class="fa fa-plus-square"></i> Work</a></li>
          <li><a href="conversations.html"><i class="fa fa-envelope"></i></a></li>
          <li><a href="edit-user.html"><i class="fa fa-user-circle"></i></a></li>
          -->
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>
    {% block content %}

    {% endblock %}
  </div>
  <script src="{% static 'animations.js' %}" charset="utf-8"></script>
 </body>
</html>
