@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*   font-family: 'Finger Paint', cursive;  */

*{box-sizing: border-box;}

html{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

a {text-decoration: none;}
li {list-style: none;}

img{width: 100%;}

#container{
  position: relative;
  margin: 0 auto;
}

/* navigation */
header{
  width: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
   font-family: 'Finger Paint', cursive;
   font-size: 2em;
   margin-left: 1em;
   color: #494c5ff2;
}


nav .nav-links{
  display: flex;
  align-items: center;
  z-index: 99999;
}

nav .nav-links li{
  margin: 0 15px;
  color: #494c5ff2;
}

nav .nav-links li a{
  font-size: 1.4em;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.nav-links li a:link, .nav-links li a:visited{
  color: #3d3327;
}


.nav-links li a:hover{
  background-color: #fcc433;
  color: white;
}

/* responsive navigation */
.burger{
  cursor: pointer;
  display: none;
}

.burger div{
  width: 30px;
  height: 4px;
  cursor: pointer;
  background-color: #000;
  margin: 4px;
}

.close .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.close .line2{
    opacity: 0;
}
.close .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

/* message inbox icon */

.notification {
  padding: 5px;
  width: 40px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .2s ease;
}

.notification img{
  width: 100%;
}

.notification:hover {
    transform: scale(0.9);
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 10px;
  border-radius: 50%;
  font-size: 1em;
  font-weight: bolder;
  background: #ff8787;
  color: white;
}

/* user holder and  dropdown */
.user-holder{
  flex-basis: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.user-holder p{
  padding-right: 15px;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
}

.user-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* hiddden by default */
.dropdown-content{
  display: none;
  position: absolute;
  top: 3.5em;
  left: 0;
  background-color:  #edf0f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a{
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
}

.dropdown-content a:hover {background-color: #ddd}

/* show onclick event class */
.show{display:block;}

/* info-msg */
.info-msg{
    padding: 0 10px;
    position: absolute;
    top: -50px;
    right: 35px;
    border-radius:20px;
    text-align:center ;
    font-size: 1em;
    animation-name: slide;
    animation-duration: 5s;
    animation-delay: 0.3s;
    z-index: 999;
}

.info-msg p{
   color:#fff;
   font-weight:bolder;
}

.info-msg i{
    margin: 0 10px;
    font-size: 1.5em;
    border: solid 1px;
    border-radius: 5px;
}

@keyframes slide{
    0% {
    transform:translateY(0);
    }

    50% {
    transform:translateY(140px);
    background-color: #5dc758;
    }

    100% {
    transform:translateY(0);
    }
}


/* banner section */
.banner{
  background-color: #fff;
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* banner text */
.banner-text{
  padding: 1em;
  flex-basis: 400px;
}

.custom-title{
  font-family: 'Poppins', sans-serif;
  color: #494c5ff2;
  letter-spacing: 1px;
}

.btn-holder{
  width: 300px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner-btn{
  width: 7em;
  height: 2em;
  border: none;
  outline: none;
  border-radius:50px;
  background-color: #0087fc;
  color: white;
  cursor: pointer;
  transition: transform .2s ease;
  font-size: 20px;
}

.banner-btn:hover{
  transform: scale(0.9);
}

.blank-btn{
  color: #494c5ff2;
  background-color: #fff;
  border: 1px solid #494c5ff2;
  transition: transform .4s;
}

.blank-btn:hover{
  background-color: orange;
  color: #fff;
  border: none;
}


/* banner image */
.banner-img{
  flex-basis: 800px;
}


/* search box */
.search-box{
  width: 100%;
  min-height: 20vh;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box #search-input[type=search] {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 15px;
  padding: 6px 20px;
  margin-top: 2px;
  font-size: 17px;
}

.search-box #search-input[type=search]:hover {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.search-box button {
  outline: none;
  border: none;
  margin: 3px 0 0 5px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #fcc433;
}

.search-box button i{
  padding: 5px 5px 8px 5px;
  border: none;
  font-size: 1.7em;
  outline: none;
  color: #fff;
}

.wrapper{
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 150px;
}


/* profile cards */

.profile-card{
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2em 2em 3em;
  cursor: pointer;
}

.profile-card img{
  width: 100%;
}

.card-text{
  padding: 35px 15px;
  height: 100%;
  position: relative;
  background-color: #fff;
  color: #425569fa;
  text-align: center;
}

.card-text p{
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}

.card-text h3{
  text-align: center;
}

.card-text .skills{
  justify-content: center;
}


.profile-card .card-cover-img{
  height: 150px;
}

.profile-card .card-cover-img img{
  height: 150px;
}

.profile-card .profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid rgba(255, 255, 255, 1);
}

/* create worker profile */
.bg-form{
  background-color: #6553c51c;
  width: 80%;
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border-radius: 1em;
}

.worker-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
  flex-wrap: wrap;
}

.input-box{
  padding: 1em;
  flex-basis: 450px;
}

.btn-box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-box input{
	border-radius:5px;
	height:30px;
  width: 100%;
	border:none;
  font-size: 1em;
  padding-left: 10px;
}

/* name django form*/
#id_name, #id_lastname{
    border-radius: 4px;
    padding: 6px;
    margin-top: 2px;
    font-size: 17px;
}

/* date of birth select input */
.input-box #id_dob_year, #id_dob_day {
  margin: 5px;
  border-radius:5px;
  width: 15%;
	height:30px;
  cursor: pointer;
}

.input-box #id_dob_month{
  margin: 5px;
  border-radius:5px;
  width: 25%;
	height:30px;
  cursor: pointer;
}

/* phone select country number */
.input-box #id_phone_0{
  margin: 10px 5px 10px 0;
  border-radius:5px;
  width: 25%;
	height:30px;
  cursor: pointer;
}

.input-box #id_phone_1{
  margin: 10px 0 10px 10px;
  border-radius:5px;
  width: 70%;
	height:30px;
}

.input-box #id_status{
  margin: 10px 0 10px 10px;
  border-radius:5px;
  width: 150px;
	height:30px;
  cursor: pointer;
}

.input-box #id_location{
  border-radius: 4px;
  padding: 6px;
  margin-top: 2px;
  font-size: 17px;
}

.input-box #id_location{
  height: 35px;
  border-radius: 4px;
  padding: 6px;
  margin-top: 2px;
  font-size: 17px;
}


form p{
	text-align:left;
  color: #041F60;
  font-weight: bolder;
}

.checkbox{
	width:20px;
}

textarea{
	width:100%;
	height:200px;
  font-size: 17px;
  border-radius:0.5em;
  border: none;
}

.btn-contact{
	background-color: grey;
	color:white;
  margin-right: 20px;
	padding:10px;
	border-radius:5px;
	border:none;
  transition: transform .3s;
  cursor: pointer;
}

.btn-contact:last-child{
  margin-left: 50px;
  background-color: #ec6363;
}

/* conversations */
.conversation-holder{
  width:45%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.conversation-header{
  text-align: center;
  background-color:#fcc433eb;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.conversation-box{
  height: 55vh;
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow-y: auto;
  padding: 30px;
}

.empty-conversation{
  width: 50%;
  text-align: center;
}


.search-box #search-conversation[type=search] {
  width: 400px;
  height: 35px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 15px;
  padding: 6px;
  margin-top: 2px;
  font-size: 17px;
}

.conversation-box p{
  word-break: break-word;
}

.conversation{
  width: 95%;
  background: white;
  margin: 10px 5px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.conversation p{word-wrap: break-word;}

.unread{background-color: #ded53247;}

.conversation-img{
  width: 65px;
  height: 65px;
  margin: 5px 5px 5px 25px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.conversation-name{
  text-align: left;
  font-size: 1.5em;
  width: 250px;
  padding-left: 20px;
}

.info-conversation{
  text-align: center;
  font-size: 1em;
  padding-right: 30px;
}

.info-conversation i{
  padding-right: 5px;
}

.conversation-bottom{
  height: 15vh;
  text-align: center;
  background-color: #fcc433eb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
}
/* message box */

.message-recieved{
  width: 60%;
  background: white;
  margin: 10px 5px;
  padding: 1em;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  background: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.message-sent{
  width: 80%;
  margin: 10px 5px;
  padding: 1em;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info-message{
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.info-message i{
  padding-right: 5px;
}

.conversation-bottom #send-message[name=message] {
  height: 2.5em;
  border-radius: 4px;
  padding: 6px;
  border: none;
  margin-top: 2px;
  font-size: 17px;
}

/* django form */
#id_message{
  height: 2.5em;
  border-radius: 4px;
  padding: 6px;
  border: none;
  margin-top: 2px;
  font-size: 17px;
}

.conversation-bottom .message-form{
  width: 60%;
  display: flex;
}

.message-form button i{
  padding: 5px 5px 8px 5px;
  border: none;
  font-size: 1.5em;
  outline: none;
  color: #fff;
}

.message-form  button {
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 2px;
  cursor: pointer;
  background-color: #9a6ad2;
}

/* worker profile */
.worker-profile{
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2em 0.5em 0;
  border-radius: 1em;
}


.worker-profile img{
  width: 100%;
}

.profile-cover-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40vh;
  border-radius: 1em 1em 0 0;
}

.profile-text{
  padding: 5em 1em 1em 1em;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 1em 1em;
  color: #425569fa;
}

.profile-text .profile-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: 40px;
  border: 4px solid rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-text .info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em 2em 2em;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.skills li{
  margin: 3px 8px 8px 0;
  padding: 5px;
  border-radius: 4px;
  background-color: #d7d6da8c;
}

.info .contact .btn-holder{
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info .contact .profile-btn-1{
  margin: 5px;
  width: 7em;
  height: 2em;
  border: none;
  outline: none;
  border-radius:50px;
  background-color:orange;
  color: white;
  cursor: pointer;
  transition: transform .2s;
  font-size: 1em;
}

.info .contact .profile-btn-2{
  margin: 10px;
  width: 7em;
  height: 2em;
  border: none;
  outline: none;
  border-radius:50px;
  background-color:  #0087fc;
  color: white;
  cursor: pointer;
  transition: transform .2s;
  font-size: 1em;
}

.profile-text .about{
  padding: 0 2em;
}


/* my profile */
#my-profile .profile-cover-img{
  position: relative;
}


#my-profile .profile-cover-img .update-cover{
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  padding: 5px;
  background-color: #7b796c96;
  border-radius: 10px;
  color: antiquewhite;
}

#my-profile .profile-cover-img:hover .update-cover{opacity: 1;}

#my-profile .text{
  border-radius: 5px;
  padding: 5px;
}


#my-profile .update-profile-img{
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 25%;
  padding: 2px;
  background-color: #7b796c96;
  border-radius: 10px;
  color: antiquewhite;
}

#my-profile .update-info{
  padding: 30px 0px 0px 20px;
}

#my-profile .update-info button{
  margin: 10px;
  width: 8em;
  height: 1.5em;
  border: 1px solid #000;
  background-color:  #fff;
  color: grey;
  outline: none;
  border-radius:50px;

  cursor: pointer;
  transition: transform .2s;
  font-size: 1em;
}

#my-profile .update-info button:hover{
  border: none;
  background-color:  #86898ce8;
  color: white;
}


#my-profile .profile-text:hover .update-profile-img{opacity: 1;}


/* users */

/* edit-profile.html */
.user-box{
  padding: 10px;
  border-radius: 15px;
  width: 700px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
}

.user-box .user-img-holder{
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-box .user-img-holder img{
  margin-top: 15px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.user-box .input-box{
  flex-basis: 55%;
}


.user-box .input-box input{
  border: 1px solid grey;
}

.user-box .btn-box{
  padding: 0 20px 10px;
  justify-content: flex-end;
}

.browse-button{
  margin: 15px;
}

.browse-button i{
  margin: 5px;
}

.browse-button input[type="file"]{
  border: 1px solid grey;
}

/* login.html */
.login-form{
  width: 400px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 25px;
  /* TODO: border: 1px solid lightgrey;  */
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

/* all inputs */
.login-form input{
	border-radius:5px;
	height:30px;
  width: 100%;
	border: 1px solid #0087fc;
  background-color: #fff;
}


.login-form .form-group{
  padding-top: 2em;
}

.login-form ul{
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.login-form ul li{
  font-size: 0.8em;
  color: #041f60;
  font-weight: 100;
}

ul.errorlist li{
  color: #df4a32;
  font-size: 0.9em;

}

span.helptext{
  font-size: 0.8em;
  color: #041f60;
  font-weight: 100;
}

.login-form .form-group li, small{
  font-size: 13px;
  color: #fcb100;
}

ul.socialaccount_providers{
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.socialaccount_providers li{
  display: inline;
  padding: 0 10px;
}

.socialaccount_providers li a{
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 1.3em;
}

.socialaccount_providers li .google{
  color: #fff;
  background-color: #df4a32;
  padding: 6px 35px;
}

.socialaccount_providers li .facebook{
  color: #fff;
  background-color: #385c90;
  padding: 6px 20px;
}

.login-or{
   width: 100%;
   padding-top: 20px;
   text-align: center;
   border-bottom: 1px solid #7b796c7a;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.login-or span {
    background:#fff;
    padding:0 10px;
}

input[name="remember"]{
  height: 20px;
  width: 20px;
}

/* last modified */
.login-btn{
  margin: 10px;
  width: 7em;
  height: 2em;
  border: none;
  outline: none;
  border-radius:50px;
  background-color: #fcb100;
  color: white;
  cursor: pointer;
  transition: transform .2s;
  font-size: 1em;
  align-self: center;
}

legend{
  color: #fcb100;
  font-size: 2em;
}

/* footer */
footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  background-color: #fff;
  border-top: 1px solid #494c5f38;
}

footer p, q, cite{
  color: #425569fa;
}

footer .footer-logo{
  width: 80px;
  height: 80px;
}


.left-foot, .middle-foot, .right-foot{
  flex-basis: 450px;
  padding: 1em;
  text-align: center;
}



/* ------------------- MOBILE -------------------------- */
@media screen and (min-width:320px) and (max-width:599px){

  html{overflow-x: hidden;}
  body{overflow-x: hidden;}

  header{flex-wrap: wrap;}
  .nav-links{
    margin: 0;
    padding: 20px 0 0 0;
    width: 100%;
    position: absolute;
    top: 12vh;
    right: 0;
    height: 92vh;
    background-color: #fff;
    border-bottom: 1px solid lightgrey;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.2s ease-in;
  }

  .nav-links li{
    border-bottom: 1px solid lightgrey;
    text-align: center;
    width: 80%;
  }

  .nav-links li:hover{
    background-color: #73c7d0;
  }

  .nav-links li a {
    display: block;
  }

  .user-holder{justify-content: flex-start;}
  .notification{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .notification:before {
    content: "Inbox";
    padding-right: 20px;
    font-weight: bold;
    font-size: 1.1em;
  }
  .notification img{width: 40px;}

  .burger{
    display: block;
    margin-right: 20px;
  }

  .wrapper{padding: 0;}
  .banner-text{order: 1; padding: 2em;}

  .search-box #search-input[type=search] {width: 250px;}

  /* message-box.html */
  .conversation-holder{width: 100%;}
  .search-box #search-conversation[type="search"]{width: 250px;}
  .conversation-box{padding: 5px;}
  .conversation-name{font-size: 0.9em;}
  .info-conversation{
    font-size: 0.5em;
    padding-right: 10px;
  }
  .message-sent{
    width:85%;
    font-size: 0.9em;
  }
  .message-recieved{
    width:85%;
    font-size: 0.9em;
  }
  .info-message{font-size: 0.6em;}
  .conversation-bottom .message-form {width: 85%;}
  /* profile */
  .profile-text .profile-img{
    left: 50%;
    transform: translateX(-50%);
  }

  #my-profile .update-info {text-align: center;}

  .profile-text .info {
    text-align: center;
    flex-direction: column;
  }
  .skills{justify-content: center;}
  .about h3{text-align: center;}
  /* profile form */
  .bg-form{width: 100%}
  .worker-form{
    padding: 0;
    margin: 0 0 1em 0;
  }

  .input-box{padding: 10px;}
  .input-box label {font-size: 14px;font-weight:normal;display: block;}
  .input-box p {font-size: 14px;font-weight:normal;}
  .input-box #id_dob_month,#id_dob_day {width: 30%;}
  .input-box #id_dob_year {width: 30%;}
  .input-box #id_phone_1, #id_phone_0{width: 90%; margin:0;}
  .input-box #id_phone_0{width: 90%;}
  .input-box #id_status{width: 30%;}

  /* user */
  .user-box{flex-direction: column;}
  .user-box .btn-box {
	  justify-content: center;
  }
  .browse-button{
    text-align: center;
  }
  /* login from  */
  .socialaccount_providers li a{
    font-size: 1em;
  }

}

/* ------------------- TABLET -------------------------- */
@media screen and (min-width:600px) and (max-width:992px) {
  /* home.html */
  .banner-text{order: 1;}
  .profile-card{margin: 2em 1em 3em; }
  /* message-box.html */
  .conversation-holder{width: 100%;}
  .search-box #search-conversation[type="search"]{width: 400px;}

}




/* ------------------  SMALL DESKOTOP -------------------------- */
@media screen and (min-width:993px) and (max-width:1200px){
  .nav-links{width: 60%;}


}



.nav-active{
  transform: translateX(0);
}




/* placeholder */
